body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-size: 14px;
    letter-spacing: 0.03em;
}

/*            .logo {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/static/images/logo.png');
    margin-right: 5px;
}
*/
.meep-meep {
    letter-spacing: -0.07em;
    color: #888;
}

.section-title {
    color: #444;
    background: rgb(230, 219, 219);
    line-height: 36px;
    margin-top: 40px;
    padding-left: 10px;
}

.button {
    cursor: pointer;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
    font-size: 14px;
    -webkit-user-select: none;          
    -moz-user-select: none;          
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 0.06em;
}

.tag,
.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 0;
    line-height: 33px;
    padding: 0 12px 0 12px;
    border-radius: 3px;
}

.grouped-form-label,
.form-label {
    text-align: right;
    line-height: 23px;
}

.form-label {
    display: inline-block;
}

.grouped-form-label {
    display: block;
}

.label-group {
    display: inline-block;
    vertical-align: baseline;
}


.action {
    color: #f8f8f8;
    background: #4C4C4C;
}

.label-group {
    display: inline-block;
    vertical-align: baseline;
}

.table {
    display: flex;
}


.table-column-header {
    background: rgb(242, 242, 242);
    line-height: 20px;
}

.table-column-header .table-item {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.table-item {
    line-height: 36px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.table-item:nth-child(2n) {
    background: rgba(0, 0, 0, 0.01);
}


.section-title {
    margin-bottom: 2px;
    color: #444;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: rgb(242, 242, 242);
    line-height: 36px;
    padding-left: 10px;
    letter-spacing: 0.1em;
}

.grouped-form-text-field {
    display: block;
}

.grouped-form-text-field,
.form-text-field {
    line-height: 14px;
    border: 2px solid transparent;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-size: 14px;
    letter-spacing: 0.06em;
    border-radius: 3px;
    background: transparent;
    overflow: visible;
}

.grouped-form-text-field:hover,
.form-text-field:hover {
    border: 2px solid rgba(0, 0, 0, 0.04);
}

.grouped-form-text-field:focus,
.form-text-field:focus {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding-left: 1px;
    outline: none;
}

.grouped-form-text-field::-webkit-input-placeholder,
.form-text-field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-weight: normal;
    padding-top: 2px;
}

.grouped-form-text-field::-moz-placeholder,
.form-text-field::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-weight: normal;
    padding-top: 2px;
}

.grouped-form-text-field:-ms-input-placeholder,
.form-text-field:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-weight: normal;
    padding-top: 2px;
}

.title {
    margin-bottom: 10px;
    padding-left: 10px;
    line-height: 36px;
    background: #222;
    font-size: 17px;
    font-weight: lighter;
    color: #f8f8f8;
    text-shadow: 0 -1px 1px black;
}

a {
    text-decoration: none;
    color: blue;
    letter-spacing: 0.05em;
}

a:hover {
    text-decoration: underline;
}

.base-container {
    line-height: 22px;
}